<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Like Lion 2nd - Konkuk&Sejong</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <!-- Side Menu Close -->
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

            <li class="sidebar-brand" style="color:rgb(255, 255, 255);">
                멋쟁이 사자처럼
            </li>
            <li>
                <a href="#home" style="color:rgb(255, 255, 255);">Home</a>
            </li>
            <li>
                <a href="#introduce" style="color:rgb(255, 255, 255);">Introduce</a>
            </li>
            <li>
                <a href="#activity" style="color:rgb(255, 255, 255);">Activity</a>
            </li>
            <li>
                <a href="#members" style="color:rgb(255, 255, 255);">Members</a>
            </li>
            <li>
                <a href="#apply" style="color:rgb(255, 255, 255);">Apply</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="home" class="header">
        <div class="vert-text">
            <h1>LIKELION</h1> <br>
            <h2>at Konkuk&Sejong Univ.</h2> <br> <br>
            <h3>Summer of 2014</h3>
            <br><br>
            <!-- <a href="#introduce" class="btn btn-default btn-lg">More</a> -->
            <a href="#introduce" class="glyphicon glyphicon-circle-arrow-down" style="color:rgb(255, 255, 255); font-size:50px;"></a>
            
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="introduce" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">

                    <div class="container">
                        <!-- introduce LikeLion -->
                        <div class="col-md-40 col-md-offset-0">
                            <h2 style="color:rgb(255,255,255)">LIKELION<br>at Konkuk&Sejong</h2>
                            <hr>
                            <p class="text-left">
                                <font size=+1 style="color:rgb(255, 255, 255);"><b>"내가 프로그래밍을 할 줄 알았더라면..."</b></font><br><br>
                                기술적 장벽때문에 본인의 생각을 세상 밖으로 표현하지 못하신 분들과 2014년 감동의 순간을 만들어 가고 싶습니다.<br>
                                기술적인 부분은 저희가 채워드립니다. 기술보다 중요한 열정을 가슴에 품고 오시면 됩니다.<br>
                                지금까지 살아온 인생에서 가장 의미있는 시간, 가장 보람찬 시을 만들어 봅시다.<br>
                                Google이 공식 스폰서로 있는 이곳에서 당신의 꿈을 세상에 보여주세요.<br>
                                * <a target="_blank" href="http://likelion.net/">멋쟁이 사자처럼 1기 홈페이지. </a> <br />
                            </p>
                        </div>
                        <!-- /introduce LikeLion -->

                        <!-- likelion image -->
                        <div class="col-md-40">
                            <img src="/static/img/lion_intro.jpg">
                        </div>
                        <!-- likelion img -->
                    </div>
                    
                    <p class="lead">

                        <br><hr><br>
                        
                        <!-- schedule -->
                        <div class="row">

                            <!-- <div class="col-lg-4"> -->
                            <div class="col-md-4 text-center">
                                <div class="service-item"> 
                                    <img src="/static/img/in.jpg" width="130px"><br>
                                    <h3 style="color:rgb(255, 255, 255)">6월 : 멤버모집</h3>
                                    <hr>
                                    <p class="text-left">
                                        뜨거운 여름이 시작되기 전 <font size=+1 style="color:rgb(255, 255, 255);"><b>6월</b></font>.<br>
                                        인생에서 가장 의미있는 시간을 함께 만들어갈 멤버를 모집합니다.<br>
                                        지식보다는 지혜. 기술보다는 열정.<br>
                                        <font size=+1 style="color:rgb(255, 255, 255);"><b>이 세상에 보여주고 싶은 자신의 생각과 함께 지원해주세요</b></font>.<br>
                                    </p>
                                </div>
                            </div>

                            <!-- <div class="col-lg-4"> -->
                            <div class="col-md-4 text-center">
                                <img src="/static/img/study.jpg" width="130px"><br>
                                <h3 style="color:rgb(255, 255, 255)">7월 ~ 8월 : 공부</h3>
                                <hr>
                                <p class="text-left">
                                    뜨거운 여름만큼 불타는 열정으로 공부합니다.<br>
                                    기술적 장벽을 해결할 수 있는 힘을 드리겠습니다.<br>
                                    <font size=+1 style="color:rgb(255, 255, 255);"><b>컴퓨터 공학의 전반적 내용을 웹/앱 서비스에 특화</b></font>해서 진행합니다.<br>
                                    자신의 꿈과 열정만 가지고 오시면 됩니다.<br>
                                </p>
                            </div>

                            <!-- <div class="col-lg-4"> -->
                            <div class="col-md-4 text-center">
                                <img src="/static/img/pro.jpg" width="130px"><br>
                                <h3 style="color:rgb(255, 255, 255)">9월 : 제작</h3>
                                <hr>
                                <p class="text-left">
                                    <font size=+1 style="color:rgb(255, 255, 255);"><b>세상에 보여주고 싶은 자신의 생각을 표현할 때가 왔습니다</b></font>.<br>
                                    배움으로만 끝나지 않습니다.<br>
                                    지금까지 열심히 공부한 내용으로 이 세상에 보여주고 싶은 자신의 생각을 표현하는 기간입니다.
                                </p>
                            </div>

                        </div>
                        <!-- /schedule -->
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Intro -->


    <!-- Portfolio -->
    <div id="activity" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Activity</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-40 col-md-offset-40 text-center">
                    <div class="portfolio-item">
                        <img class="img-portfolio img-responsive" src="http://cdn.timesofisrael.com/uploads/2014/06/ironsource.jpg"><br>
                        <h4 style="color:rgb(0,0,0)"><font size=+2><b>사람들 만나기</b></font></h4>
                        <hr>
                        <p class="text-left">
                            다양한 전공의 다양한 생각을 가진 사람들과 함께하며 자신의 생각을 키워 나가며 그동안 경험할 수 없었던 다양한 교류를 할 수 있습니다.<br>
                            젊은 날, 같은 꿈을 꾸며 인생에서 가장 의미있는 인연을 만들어 나갈 수 있습니다.<br>
                            뿐만 아니라, google, 이두희를 비롯하여 여러 IT종사자들의 소중한 경험 이야기를 들을 수 있습니다.<br>
                        </p>
                    </div>
                </div>
                <div class="col-md-40 col-md-offset-41 text-center">
                    <div class="portfolio-item">
                        <img class="img-portfolio img-responsive" src="http://www.sublimetext.com/screenshots/new_theme_large.png"><br>
                        <h4 style="color:rgb(0,0,0)"><font size=+2><b>개발 배우기</b></font></h4>
                        <hr>
                        <p class="text-left">
                            미친 집중력을 두 달 동안 발휘해봅시다. <br>
                            쉽진 않을 겁니다. 분명 중간에 그만두고 싶은 순간이 올 겁니다. <br>
                            하지만 그 결과는 두달간의 노력을 잊을만큼 큰 보람이 있으리라 약속합니다.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-40 col-md-offset-40 text-center">
                    <div class="portfolio-item">
                        <img class="img-portfolio img-responsive" src="http://rack.3.mshcdn.com/media/ZgkyMDEzLzA2LzIwLzBmL1Rhc3RpbmdUYWJsLjg3YWM3LmpwZwpwCXRodW1iCTEyMDB4OTYwMD4/84f921d4/aaf/Tasting-Table-office.jpg"><br>
                        <h4 style="color:rgb(0,0,0)"><font size=+2><b>실전 경험하기</b></font></h4>
                        <hr>
                        <p class="text-left">
                            '프로그래밍 못하는 사람들이 모여서 이정도 했습니다.'를 하려는게 아니라,<br>
                            실생활에 유용하게 영향을 줄 수 있는 서비스를 차근차근 만들게 될 것입니다.<br>
                            또한, 그동안 '이런 프로그램이 있었으면 좋겠다.'라고 생각했던 것을 직접 만들어 볼 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="col-md-40 col-md-offset-41 text-center">
                    <div class="portfolio-item">
                        <img class="img-portfolio img-responsive" src="http://www.venturesquare.net/wp-content/uploads/sites/234/2013/04/4743153546.jpg"><br>
                        <h4 style="color:rgb(0,0,0)"><font size=+2><b>내 인생 살기</b></font></h4>
                        <hr>
                        <p class="text-left">
                            머리속에만 있던 자신의 생각.<br>
                            그 위대한 생각을 이용해서 스스로 혹은 누군가와 힘을 합쳐 창업을 할 수 있습니다.<br>
                            누가 정해준건지 알지도 못하는 기준에 맞춰 남이 성공한 인생이라고 생각하는, 그런 인생을 살기엔 살아갈 날이 깁니다.<br>
                            본인이 원한다면 자신의 회사에서 자신의 인생을 살아갈 수 있습니다.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1 style="color:rgb(255, 255, 255)">LIKELION<br>at Konkuk&Sejong University</h1>
            <br>
            <h2 style="color:rgb(255, 255, 255)">Summer of 2014</h2>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Services -->
    <div id="members" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Members</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-rocket"></i> -->
                        <img src="/static/img/kbj.jpg">
                        <h4><font size=+2><b>김범준</b></font></h4>
                        세종대학교 컴퓨터공학과<br><br>
                        <p class="text-left">
                            - 09학번 (13년 2월 졸업)<br>
                            - TrendnTalk 창업<br>&nbsp;&nbsp;(2011.11~2012.12)<br>
                            - NDS (2012.12 ~ 2013.10)<br>
                            - WeMadeInC (2013.12 ~ )
                        </p>
                    </div>
                </div>
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <img src="/static/img/osj.jpg">
                        <h4><font size=+2><b>오성진</b></font></h4>
                        건국대학교 인터넷미디어<br><br>
                        <p class="text-left">
                            - 09학번 ( 현 3학년,졸업 모름)<br>
                            - SWMaestro<br>
                            - 삼성소프트웨어 멤버십<br>
                            - 2014 산업융합 비즈니스 모델(한국IT서비스학회장상)<br>
                            - TDOD 창업(2013.12 ~ )
                        </p>
                    </div>
                </div>
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-shield"></i> -->
                        <img src="/static/img/jjy.jpg">
                        <h4><font size=+2><b>장지영</b></font></h4>
                        세종대학교 컴퓨터공학과<br><br>
                        <p class="text-left">
                            - 10학번 (14년 8월 졸업예정)<br>
                            - 인생은 즐거워야 한다는 <br>&nbsp;&nbsp;신념을 지키며 살고 싶다.
                        </p>
                    </div>
                </div>
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-pencil"></i> -->
                        <img src="/static/img/key.jpg">
                        <h4><font size=+2><b>김은영</b></font></h4>
                        세종대학교 컴퓨터공학과<br><br>
                        <p class="text-left">
                            - 10학번 (14년 8월 졸업예정)<br>
                            - 기회는 스스로 쟁취하는 것.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Supporters</h2>
                    <hr>
                </div>
            </div>
            <div class="row">

                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-rocket"></i> -->
                        <img src="/static/img/ldh.png">
                        <h4><font size=+2><b>이두희</b></font></h4>
                        멋쟁이 사자처럼 대장<br><br>
                        <p class="text-left">
                            - 서울대 컴퓨터공학부 졸업<br>
                            - 네오위즈 개발자<br>
                            - 서울대 강의평가<br>&nbsp;&nbsp;snuev.com기획/개발/운영
                        </p>
                    </div>
                </div>
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-shield"></i> -->
                        <img src="/static/img/cyc.png">
                        <h4><font size=+2><b>최용철</b></font></h4>
                        <br><br>
                        <p class="text-left">
                            - 서울대 컴퓨터공학부 졸업<br>
                            - 서울대 학생벤처네트워크<br>&nbsp;&nbsp;snusv 18대 회장<br>
                            - 대학생 벤처창업경진대회<br>&nbsp;&nbsp;조직위원회 (11회, 12회)
                        </p>
                    </div>
                </div>
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <img src="/static/img/kss.jpg">
                        <h4><font size=+2><b>권순선</b></font></h4>
                        <br><br>
                        <p class="text-left">
                            - Google Developer <br>&nbsp;&nbsp;Relations Program Manager<br>
                            - KLDP founder
                        </p>
                    </div>
                </div>                
                <div class="col-md-25 col-md-offset-25 text-center">
                    <div class="service-item">
                        <!-- <i class="service-icon fa fa-pencil"></i> -->
                        <img src="/static/img/google.png">
                        <h4><font size=+2><b>Google</b></font></h4>
                        <br><br>
                        <p class="text-left">

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Services -->


    <!-- Apply -->
    <div id="apply" class="apply">
        <div class="container">
            <br><br>
            <div class="Buttons">

                <div class="bt_header">지원서 접수하기</div><br/>
                <div class="bt_description">졸업 전에 내 회사 한번 가져봐야 하지 않겠어??</div><br/><br/>
                <a data-toggle="modal" href="#myModal" id="apply_btn" class="btn btn-lg btn-lla-apply">Apply</a>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">지원서 작성하기</h4>
                  </div>

                  <form class="form-horizontal" method="post" id="llaApplyForm" action="/apply/">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">이름</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" placeholder="이름">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="colleage" class="col-sm-4 control-label">학교/학과/학번</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="colleage" placeholder="예)건국대/미디어/09,세종대/경영/06">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">전화번호</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">메일주소</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="introduction" class="col-sm-4 control-label">자기소개</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="introduction" placeholder="멋쟁이 사자처럼에 지원하게 된 동기와 이루고자 하는 목표를 적어주세요."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="service" class="col-sm-4 control-label">만들고 싶은 서비스 소개</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" name="service" placeholder="만들어 보고 싶은 서비스를 설명해주세요."></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-lla-apply-submit btn-lg btn-block">지원서 등록하기</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="division">
        <img src="/static/img/border_bottom.png">
    </div>
    <div class="contact">문의 : alchemist85k@gmail.com </div>
    <div class="contact">페북페이지 : <a href="https://www.facebook.com/kusejonglikelion">https://www.facebook.com/kusejonglikelion</a> </div>
    <br/><br/>
</div>
</div>
<!-- /Apply -->

<!-- Footer -->

<!-- /Footer -->

<!-- JavaScript -->
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.js"></script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
</script>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
</script>
<script>
$(document).ready(function() {
   $("#apply_btn").click(function(event){
    $('#myModal').modal('show');
});
});

$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>

</body>

</html>
